body{
    background-color: rgba(225,234,243,255);
}
h1,h2,h3,p{
    text-align: center;
}
h3{
    color: blue;
}

.navegacion{
    background-color: rgb(13, 57, 145);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-around;
}
.navegacion a{
    text-decoration:none;
    color: white;
   font-weight: bold;
}
.navegacion a:hover{
    background-color: white;
    color: blue;
    margin-bottom: 0;
}

.under-nav{
    color: white;
    margin: 0%;
    background: url(imagenDeFondo.jpeg);
    text-align: center;
    padding-bottom: 145px;
}

.under-nav h2{
    margin: 0%;
    padding-top: 120px;
}

.under-nav i{
    font-size: 80px;
    padding-top: 20px;
}

.under-nav p{
    display: inline;
}
.under-nav button{
    display: block;
    background-color: rgb(13, 57, 145);
    color: white;
    border:  rgb(13, 57, 145);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    margin-left: 46%;
    margin-top: 20px;
}

main{
    background-color: white;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;
    margin-top: 20px;
}

main h2{
    padding-top: 25px
}
.izquierda.centro.derecha{
    width: 33.3%;
   
}

.padre-main{
    display: flex;
    margin: 5%;
}
.padre-main i{
  font-size: 45px;
padding-top: 36%;
} 

.paint-icon{
    background-color:rgb( 7, 106, 255);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
    margin-left: 28%;
}

.centro{
    margin-left: 10px;
    margin-right: 10px;
}

.android-apple-icon{
    background-color:rgb( 7, 106, 255);
    width: 160px;
    height: 160px;
    border-radius: 50%;
   margin-left: 28%;
} 

.android-apple-icon i{
    margin: 15px;
    padding-top: 42px;
}

/*estilos del formmulario*/

.form-container{
    background-color: rgb(170,168,168);
    width: 50%;
    height: 360px;
    margin-left: 25%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.form-container legend{
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 900;
    color: #266dfc;
    margin-bottom: 0px;
    padding-top: 15px;
}
.input-form{
    margin-left: 20px;
    color: white;
}

.input-form input{
   width: 370px;
   padding: 8px;
   padding-right: 141px;
   border: none;
   border-radius: 0.3rem;
}

.input-form-1 input{
    width: 190px;
    padding: 8px;
    padding-right: 51px;
    border: none;
    border-radius: 0.3rem;
    margin-top: 4px;
}

.input-form-1{
    grid-template-columns: 1fr 1fr;
    display: grid;
    color: white;
    margin-left: 20px;
}

textarea{
    border-radius: 0.3rem;
}

.input-boton{
    margin-left: 440px;
    padding-bottom: 20px;
}
.input-boton button{
    background-color: #266dfc;
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}